{% load static %}
<!DOCTYPE html>
<meta charset="UTF-8">
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Mission Red </title>
    <link rel="icon" href="{% static 'Home/Images/logo.png' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'Stores/CSS/login.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
</head>
<body>

  {% if error %}
  <center>
  <div class="alert alert-danger alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <p>{{error}}</p>
  </div>
  </center>
  {% endif %}

    <div class="form">
        <img src="{% static 'Stores/Images/store.png' %}" class="image">
        <div class="main">
          <h1 class="heading">
            LOGIN
          </h1>
          <form method="POST" action="{% url 'Stores:login' %}" class="regform">
            {% csrf_token %}
              
              EMAIL: <br>
              <input type="text" size="50" name="email" placeholder="E-MAIL" required><br>
              PASSWORD: <br>
              <input type="password" size="50" name="password" placeholder="PASSWORD" required><br>
              <input type="submit" class=" Submit btn btn-primary"  name="submitDetails" value="Login" >
          </form>
        
        </div>
  
    </div>


</body>
</html>