{% load static %}
<!DOCTYPE html>
<meta charset="UTF-8">
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Mission Red </title>
    <link rel="icon" href="{% static 'Home/Images/logo.png' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'Home/CSS/index.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
</head>
<body>

      <div class="flex-container">

        <div class="flex-section">
          <h1>#MensturationMatters</h1>
          
          <div class="flex-container">
            <div class="flex-section">
                <h2>Doctors</h2>
                <p>Contribute to the movement by helping young girls during their difficult time.</p>
                <button class="btn-light" >
                  <a href="{% url 'Doctors:signup' %}">SIGN UP</a>
                </button>
            </div>
            <div class="flex-section">
                <h2>Pharmacist</h2>
                <p>Contribute to the movement by providing service at doorsteps of girls in pain.</p>
                <button class="btn-light">
                  <a href="{% url 'Stores:signup' %}">SIGN UP</a>
                </button>
            </div>
            <div class="flex-section">
                <h2>Users</h2>
                <p>Contribute to the movement by raising your voice against illogical stereotypes.</p>
                <button class="btn-light">
                  <a href="{% url 'users:signup' %}">SIGN UP</a>
                </button>
            </div>
            
          </div>
          
        </div>
        <br>
        <img src="{% static 'Home/Images/illustration.png' %}" class="image">
  
      </div>

    
</body>
</html>