html
{
  min-width: 100%;
  min-height: 100%;
}
body
{
  background-image: linear-gradient(to bottom right, red, black);
  background-size: cover;
  background-repeat: no-repeat;
 
}

input
{
  width: 100%;
  margin-bottom: 8%;
}

a
{
  font-size: 20px;
  font-weight: 500;
  color: white;
}
a:hover
{
    color: rgb(255, 217, 0);
    text-decoration: none;
}

.header
{
  display: flex;
  width: 90%;
  justify-content: flex-end;
  margin: 2% 5%;
}

.flex-container
{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
}


.form
{
    height: 70%;
    width: 80vh;
    display: flex;
    align-content: center;
}

.form-heading
{
  margin: 10% 0%;
  text-align: center;
  font-size: 30px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

.main
{
  margin: 5% 5%;
  width: 100%;
  height: 100%;
  padding: 1% 2%;
  background-color: white;
  color: black;
  border-radius: 2%;
  box-shadow: 5px 5px 10px black;
  vertical-align: middle;
  font-size: 20px;
}

.image
{
  margin: 0% 0%;
  height: 80vh;
}

.Submit
{
  width: 30%;
  height: 10%;
  margin: 5% 35%;
  border-radius: 12px;
  background-color: rgb(214, 2, 2); 
  color: white;
  border-color: rgb(214, 2, 2);
}
.Submit:hover
{
  background-color: rgb(255, 217, 0);
  color: black;
}


.heading
{
  margin: 2% 0%;
  text-align: center;
  font-size: 50px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: white;
  text-shadow: 2px 2px 2px black;
}

.slot-main
{
  width: 100%;
}

.card
{
  width: 60%;
  margin: 5% 20%;
  background-color: white;
  color: black;
  box-shadow: 5px 5px 10px black;
}
.card-title
{
  font-size: 30px;
  font-weight: bolder;
}

